@{
    ViewBag.Title = "Home";
}

<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-5 text-center header-img animate-box">
                                <img id="mainLogo" src="~/Content/images/PNCLogoReg200x200.png" alt="Paws N Claws Logo">
                            </div>
                            <div class="col-md-7 copy animate-box">
                                <h1>Paws N Claws Daycare Group</h1>
                                <p>Where your fur family is our family</p>
                                @if (!Request.IsAuthenticated)
                                {
                                    <p><a href="@Url.Action("Register", "Account")" class="btn btn-white">Create An Account</a></p>
                                    <p><a href="@Url.Action("Login", "Account")" class="btn btn-white">Login</a></p>
                                }
                                else if (User.IsInRole("Pet Owner"))
                                {
                                    <p><a href="@Url.Action("Create", "Reservations")" class="btn btn-white">Reserve a Spot Now</a></p>
                                }
                                else if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                                {
                                    <p><a href="@Url.Action("Index", "Reservations")" class="btn btn-white">View Reservations</a></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END #gtco-header -->
<div class="gtco-services gtco-section">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Who are we?</h2>
                <h3>Your pets' home away from home</h3>
                <p>We do what we do because we love pets! <br />If you're looking for the perfect people to take care of your pet while you're away you're looking in the right place.</p>
                <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-special popup-vimeo">Watch The Video</a></p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-shine"></i> Comfort</h3>
                    <p>Everyone feels most comfortable when the feel the safest; the same goes for our furry friends! We spare no effort to ensure your pets can feel comfortable and safe throughout their entire stay with us. 
                    <br />
                    <hr />
                    They get to relax, you get peace of mind.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service animate-change">
                    <h3><i class="ti-medall"></i> Professionalism</h3>
                    <p>We got into this business becuase we knew what needed to happen and knew how to do it. All of our staff is safety certified, our buildings electronic-lock-secured, our facilities in 24/7 CCTV coverage, and there's always a certified veterinarian on call. 
                    <br />
                    <hr />
                    Long story short: we got this.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-heart"></i> Care</h3>
                    <p>
                        From our employee benefits programs and temperature-adjusting kennel padding to live customer-to-pet video feed, all our decisions are made with care at the forefront of the process.
                        <br />
                        <hr />
                        Care is at the core of our fundamentals.

                    </p>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
        </div>
    </div>
</div>
<!-- END .gtco-services -->
<div class="gtco-section gtco-testimonial gtco-gray">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>People Love Us</h2>
                <h2>Pets Love Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="/Content/images/person_1.jpg" alt="Free Website template by FreeHTML5.co"></div>
                    <blockquote>
                        <p>&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="/Content/images/person_2.jpg" alt="Free Website template by FreeHTML5.co"></div>
                    <blockquote>
                        <p>&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.&rdquo; <cite class="author">&mdash; Steve Jobs</cite></p>
                    </blockquote>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="/Content/images/person_3.jpg" alt="Free Website template by FreeHTML5.co"></div>
                    <blockquote>
                        <p>&ldquo;I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo; <cite class="author">&mdash; Frank Chimero</cite></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="/Content/images/person_1.jpg" alt="Free Website template by FreeHTML5.co"></div>
                    <blockquote>
                        <p>&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
