@{
    ViewBag.Title = "Home";
}

<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-5 text-center header-img animate-box">
                                <img id="mainLogo" src="~/Content/images/PNCLogoReg200x200.png" alt="Paws N Claws Logo">
                            </div>
                            <div class="col-md-7 copy animate-box">
                                <h1>Paws N Claws Daycare Group</h1>
                                <p>Where your fur family is our family</p>
                                @if (!Request.IsAuthenticated)
                                {
                                    <p><a href="@Url.Action("Register", "Account")" class="btn btn-white">Create An Account</a></p>
                                    <p><a href="@Url.Action("Login", "Account")" class="btn btn-white">Login</a></p>
                                }
                                else if (User.IsInRole("Pet Owner"))
                                {
                                    <p><a href="@Url.Action("DatePick", "Reservations")" class="btn btn-white">Reserve a Spot Now</a></p>
                                }
                                else if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                                {
                                    <p><a href="@Url.Action("Index", "Reservations")" class="btn btn-white">View Reservations</a></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END #gtco-header -->
<div class="gtco-services gtco-section">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Who are we?</h2>
                <h3>Your pets' home away from home</h3>
                <p>We do what we do because we love pets! <br />If you're looking for the perfect people to take care of your pet while you're away you're looking in the right place.</p>
                <p><a href="https://youtu.be/Yzv0gXqoCkc" class="btn btn-special" target="_blank">View Pet Care Basics Video</a></p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-shine"></i> Comfort</h3>
                    <p>Everyone feels most comfortable when the feel the safest; the same goes for our furry friends! We spare no effort to ensure your pets can feel comfortable and safe throughout their entire stay with us. 
                    <br />
                    <hr />
                    They get to relax, you get peace of mind.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service animate-change">
                    <h3><i class="ti-medall"></i> Professionalism</h3>
                    <p>We got into this business because we knew what needed to happen and knew how to do it. All of our staff is safety certified, our buildings electronic-lock-secured, our facilities in 24/7 CCTV coverage, and there's always a certified veterinarian on call. 
                    <br />
                    <hr />
                    Long story short: we got this.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-heart"></i> Care</h3>
                    <p>
                        From our employee benefits programs and temperature-adjusting kennel padding to live customer-to-pet video feed, all our decisions are made with care at the forefront of the process.
                        <br />
                        <hr />
                        Care is at the core of our fundamentals.
                    </p>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
        </div>
    </div>
</div>
<!-- END .gtco-services -->
<div class="gtco-section gtco-testimonial gtco-gray">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>People Love Us <span class="ti-heart"></span> Pets Love Us</h2>
                <p>You don't have to just take our word for it; check out some testimonials here from a handful of our satisfied customers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="~/Content/images/testimonials/TestiCat.jpg" alt="A black and white cat"></div>
                    <blockquote>
                        <p>&ldquo;I love relaxing at home as much as any cat, but if I had to choose a second favorite place to lounge about it would definitely be at Paws N Claws.&rdquo; <cite class="author">&mdash; Gandalf (Cat, 8yrs old)</cite></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="~/Content/images/testimonials/TestiLady.jpg" alt="A smiling lady/customer"></div>
                    <blockquote>
                        <p>&ldquo;What I appreciate most about Paws N Claws? The peace of mind I'm afforded when my fur family is staying with them.&rdquo; <cite class="author">&mdash; Susan Adams</cite></p>
                    </blockquote>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="~/Content/images/testimonials/TestiDog.jpg" alt="A golden retriever"></div>
                    <blockquote>
                        <p>&ldquo;Ruff!&rdquo; <cite class="author">&mdash; Pinto (Dog, 2yrs old)</cite></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="gtco-testimony gtco-left">
                    <div><img src="~/Content/images/testimonials/TestiMan.jpg" alt="Free Website template by FreeHTML5.co"></div>
                    <blockquote>
                        <p>&ldquo;After plenty of sub-par pet boarding experiences elsewhere, I was hesitant at first to trust Paws N Claws. But after meeting with them to tour their facilities all my worries were instantly laid to rest.&rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
