div#mainContent {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

/*#region Nav Styling */
.gtco-nav #gtco-logo {
    display: inline;
    transition: 1s;
}

.gtco-nav #gtco-logo a img:hover {
    box-shadow: rgba(0,0,0,.2) 10px 5px;
    transition: 1s;
}

.gtco-nav ul {
    background: rgba(38, 38, 38, .1);
    box-shadow: rgba(0,0,0,.2) 10px 5px;
    transition: 1s;
}

.gtco-nav ul:hover {
    box-shadow: rgba(0,0,0,.4) 15px 10px;
    transition: 1s;
}

.navbar-right {
    margin: 0;
}
/*#endregion */
