@{
    ViewBag.Title = "Thank you for registering an account with us!";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    You may now add pets to your profile and place reservations in our daycares! <span class="ti-face-smile"></span>
</p>
<br />
<p >
   Click <a href="@Url.Action("Login", "Account")">here</a> to login using your new credentials.
</p>
